.one{
    padding: 20px;
    font-size: 15px;
    background-color: #000000;
    font-family:'nunuito',sans-serif;
    color: #FFFFEF;
}
.home
{
    margin-left: 80px;
}

.i14{
    margin-left: 80px;
}
.i13
{   
    margin-left: 80px;
}
.i12
{
    margin-left: 80px;
}
nav {
    padding: 20px;
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    
}
.last{
    background-color: #000000;
    padding: 80px;
    color: #FFFFEF;
}
.a,.c{
    position:relative;
    bottom: 30px;
    text-transform: uppercase;
}
.b{
    font-size: 15px;
}
.text
{
background-color: #000000;
border-color: #FFFFEF;
height: 45px;
width: 300px;
color: #FFFFEF;
}
.button
{
background-color: #000000;
border-color: #FFFFEF;
height: 35px;
color: #FFFFEF;
width: 300px;
}
input::placeholder{
    color:#FFFFEF;
}
.sub
{
    text-decoration: none;
    color: #FFFFEF;
}